.usermodel{
                     background-color:red;
                     margin:250px auto;
                     display:flex;
                     justify-content:center;
                     align-items:center

         }